

<style>
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 6px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white; 
  border: 2px solid #4CAF50;
  font-size: 125%;
  color: #4CAF50;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
.textfield {
  width:30%;
  padding: 10px;
  border:0;
  border: 2px solid #4CAF50;
  box-shadow:0 0 15px 4px rgba(255, 255, 255, 0.397);
  border-radius:5px;
  font-size: 20px;
}

.fan
{
  margin-right: 20px;

}
</style>
{% extends 'app/base.html' %}
{% load static %}
{% block title %}Contact{% endblock title %}

{% block main-content %}
<body>
  
	<div class="bg-contact100" style="background-color: rgb(255, 255, 255);text-align: center;padding-bottom: 10px;">
		<div class="container-contact100">
			<div class="wrap-contact100">
				<div class="contact100-pic js-tilt" data-tilt>
					<img src="{%static 'app/images/banner/logo_MyPharma.png'%}" alt="IMG">
				</div>

				<form class="contact100-form validate-form shadow p-5" method="GET" action="#">
					<span class="contact100-form-title" style="color: rgb(9, 22, 56);">
						<h1>Get in touch</h1>
					</span><br>
					<div class="wrap-input100 validate-input" data-validate = "Name is required">
						
            <i class="fan fa fa-user" aria-hidden="true"></i>
            <input class="textfield w3-input w3-border w3-round" type="text" name="name" placeholder="Name">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							
						</span>
					</div>
<br>
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<i class="fan fa fa-envelope" aria-hidden="true"></i>
            <input class="textfield w3-input w3-border w3-round" type="text" name="email" placeholder="Email">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							
						</span>
					</div>
<br>
					<div class="wrap-input100 validate-input" data-validate = "Message is required">
						<i class="fan fa fa-envelope" aria-hidden="true" style="margin-bottom: 2.5%;"></i>
            <textarea class="textfield w3-input w3-border w3-round" type="text" name="message" placeholder="Type your message here"></textarea>
						<span class="focus-input100">
            

            </span>
					</div>
<br>

					<div class="container-contact100-form-btn">
						<button class=" button contact100-form-btn">
							Send
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
  </body>

{% endblock main-content %}